<div class="topnav">
    <div id="myTopnav"><%= link_to "Home", root_path %></div>
    <div id="myTopnav"><a href="mailto:draftamerica@gmail.com">Contact</a></div>
    <div id="myTopnav"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></div>
</div>

<br>
<br>

<div class="logoarea1">
    <img class="nfllogos1" src="http://3.bp.blogspot.com/-20g4edC8Soo/Uup25CSLmfI/AAAAAAAAF-Y/XBolQ1xsK-0/s1600/NFL_Background_Logos.jpg">
</div>

<h1 align="center" class="welcomeweek"> 2016 NFL Season, Week <%= @weekpick %> </h1>
<p> <br>
    <% @currentweek.each do |game| %>
    <div class="scorespage">
        <a href="/view_game/<%= game[:id] %>">
        <div class="gamescore" id="game_<%= game[:id] %>">
            <div class="away">
                <div class="awayteam">
                    <%= game[:away_team] %> &nbsp;
                </div>
                <div class="awaypoints">
                    <%= game[:away_points] %> </br> <br>
                </div>
            </div>
            <div class="home">
                <div class="hometeam">
                    <%= game[:home_team] %> &nbsp;
                </div>
                <div class="homepoints">
                    <%= game[:home_points] %> </br> <br>
                </div> </br>
            </div>
        </div>
        </a>
    </div>
    <% end %>
</p>
