<div class="topnav">
    <div id="myTopnav"><%= link_to "Home", root_path %></div>
    <div id="myTopnav"><a href="mailto:draftamerica@gmail.com">Contact</a></div>
    <div id="myTopnav"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></div>
</div>

<div class="logoarea1">
    <img class="nfllogos1" src="http://3.bp.blogspot.com/-20g4edC8Soo/Uup25CSLmfI/AAAAAAAAF-Y/XBolQ1xsK-0/s1600/NFL_Background_Logos.jpg">
</div>
<br>

<p>
    <div class="scorespage1">
        <div class="gamescore1" id="game_<%= @currentgame[:id] %>">
            <div class="scoring">
                <table class="quarterstable">
                    <th class="quart">1st &nbsp; </th>
                    <th class="quart">2nd &nbsp; </th>
                    <th class="quart">3rd &nbsp; </th>
                    <th class="quart">4th &nbsp; </th>
                    <th class="quart">OT &nbsp; </th>
                    <tr>
                        <% @game_stats['away_team']['scoring'].each do |quarter| %>
                            <div class="quarterpoints"><td><%= quarter['points'] %><br><br></td></div>
                        <% end %>
                    </tr>

                    <tr>
                        <% @game_stats['home_team']['scoring'].each do |quarter| %>
                            <div class="quarterpoints"><td><%= quarter['points'] %> </td></div>
                        <% end %>
                    </tr>
                </table>


                <% if @game_stats['away_team']['scoring'].length == 4 %>
                    <td>&nbsp;</td>
                <% end %>
            </tr>
                <br>

                <% if @game_stats['away_team']['scoring'].length == 4 %>
                    <td>&nbsp;</td>
                <% end %>
            </div>

            <div class="away1">
                <div class="awayteam1">
                    <a href="/view_team/<%= @team[0][:id]%>"><%= @currentgame[:away_team] %> </a> &nbsp;
                </div>
                <div class="awaypoints1">
                    <%= @currentgame[:away_points] %> </br> <br>
                </div>
            </div>
            <div class="home1">
                <div class="hometeam1">
                    <a href="/view_team/<%= @team2[0][:id]%>"><%= @currentgame[:home_team] %> </a> &nbsp;
                </div>
                <div class="homepoints1">
                    <%= @currentgame[:home_points] %> </br> <br>
                </div>
                </br>
            </div>
        </div>
    </div>
        <br>
        <br>
</p>

<div class="scoringheadbox">
    <div class="scoringhead">
        SCORING &amp; STATS
    </div>
</div>

<div class="scoringsummary">
    <% @game_stats['scoring_drives'].each do |scores| %>
        -><%= scores['scores'][0]['summary'] %><-<br><br>
    <% end %>
    <br>
    <br>

<div class="awayteamstats">
    <div id="yardaway1"><%= @currentgame[:away_team] %></div><br>
    <div id="yardaway">TOTAL YARDS</div>
    <div id="yardsaway"><br><%= @awayyards %></div><br>
    <div id="yardaway">PASSING YARDS</div>
    <div id="yardsaway"><br><%= @awaypassyards %></div><br>
    <div id="yardaway">RUSHING YARDS</div>
    <div id="yardsaway"><br><%= @awayrushyards %></div><br>
    <div id="yardaway">FIRST DOWNS</div>
    <div id="yardsaway"><br><%= @awayfirstdowns %></div><br>
</div>

<div class="hometeamstats">
    <div id="yardhome1"><%= @currentgame[:home_team] %></div><br>
    <div id="yardhome">TOTAL YARDS</div>
    <div id="yardshome"><br><%= @homeyards %></div><br>
    <div id="yardhome">PASSING YARDS</div>
    <div id="yardshome"><br><%= @homepassyards %></div><br>
    <div id="yardhome">RUSHING YARDS</div>
    <div id="yardshome"><br><%= @homerushyards %></div><br>
    <div id="yardhome">FIRST DOWNS</div>
    <div id="yardshome"><br><%= @homefirstdowns %></div><br>
</div>

</div>


<div class="commenthead">
    Were you at this game? Did you watch it? Share your thoughts here!
</div>

<div class="commentform">
    <%= form_with(model:[current_user, @comment], local:true) do |form| %>
        <div class="field3">
            <div class="titletitle">
            <%= form.label :title %>
            </div>
            <br>
            <div class="titlebox">
            <%= form.text_field :title %>
            </div>
            <br>
            <div class="commenttitle">
            <%= form.label :comment %>
            </div>
            <br>
            <%= form.text_area :content, :cols => "88", :rows => "7" %>
            <br>
            <%= form.hidden_field :scoreboard_id, value: @scoreboard_id %>
            <br>
            <div class="actions3">
            <%= form.submit %>
            </div>
        </div>
</div>
    <% end %>
<br>
<br>



<div class="commentsection">
    <div class="commenthead2">
        HERE'S &nbsp; THE &nbsp; BUZZ
    </div>
    <br>
    <br>
    <% @comments.each do |comment| %>
    <br>
    <% @users.each do |user| %>
        <% if comment.user_id == user.id %>
        <strong><%= user.username %></strong>
        <% end %>
    <% end %>
        <%= comment.content %> <br>
    <% end %>
    </p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
