<%= link_to "Home", root_path %>


<div class="logoarea1">
    <img class="nfllogos1" src="http://3.bp.blogspot.com/-20g4edC8Soo/Uup25CSLmfI/AAAAAAAAF-Y/XBolQ1xsK-0/s1600/NFL_Background_Logos.jpg">
</div>

<p>
    <div class="scorespage1">
        <div class="gamescore1" id="game_<%= @currentgame[:id] %>">
            <div class="away1">
                <div class="awayteam1">
                    <%= @currentgame[:away_team] %> &nbsp;
                </div>
                <div class="awaypoints1">
                    <%= @currentgame[:away_points] %> </br> <br>
                </div>
            </div>
            <div class="home1">
                <div class="hometeam1">
                    <%= @currentgame[:home_team] %> &nbsp;
                </div>
                <div class="homepoints1">
                    <%= @currentgame[:home_points] %> </br> <br>
                </div> </br>
            </div>
        </div>
    </div>
        <br>
        <br>
</p>

<h1 class="commenthead"> Were you at this game? Did you watch it? Share your thoughts here! </h1>

<div class="commentform">
<%= form_with(model:[current_user, @comment], local:true) do |form| %>
    <div class="field">
        <%= form.label :title %>
        <br>
        <%= form.text_field :title %>
        <br>
        <%= form.label :comment %>
        <br>
        <%= form.text_area :content %>
        <br>
        <%= form.hidden_field :game_id, value: @game_id %>
        <br>
        <%= form.submit %>
    </div>
</div>
<% end %>
