<!DOCTYPE html>
<html>
  <head>
    <title>ScoreFinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- <div class="topnav">
        <div id="myTopnav"><%= link_to "Sign up", new_user_registration_path %> </div>
        <div id="myTopnav"><%= link_to "Sign in", new_user_session_path %> </div>
        <div id="myTopnav"><a href="mailto:draftamerica@gmail.com">Contact</a></div>
    </div> -->

  <body>
    <% if !current_user %>
    <% else %>
        <!-- <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <%= current_user.email %> -->
    <% end %>
    <%= yield %>
  </body>
</html>
